.badge-blog{
	background-color: #0066ff;
}

.badge-media{
	background-color: #cccc00;
}

.badge-workshop{
	background-color: #00b300;
}

.badge-main{
	background-color: #248f8f;
}

.badge-code{
	background-color: #d1233d;
}

.badge-journal{

}